@font-face {
    font-family: 'IBM PS55';
    src: url('../receipt/fonts/web437_ibm_ps-55_re.woff')
    format('woff')
}

@font-face {
    font-family: 'IBM MDA';
    src: url('../receipt/fonts/web437_ibm_mda.woff')
    format('woff')
}

@media print {
    @page {
        width: 58mm auto;
        margin: 0 auto;
    }
}

body {
    width: 58mm;
    scale: 130%;
    margin: 0 auto;
    padding: 0.5rem;
    font-family: "IBM PS55", serif;
}

hr {
    border: 1px dashed #000;
}

#receipt-container {
    margin: 0 auto;
    text-align: center;
}

#store-name {
    /* font-family: "Libre Baskerville"; */
    font-size: 1.5rem;
    margin: 5.6rem 0 0.1rem 0;
    /* font-weight: bold; */
}

#alt-store-name {
    margin: -0.3rem 0 0.2rem 0;
    font-weight: 100;
    /* font-family: "Zen Antique Soft", serif; */
    font-size: 1.5rem;
}

#address {
    /* font-family: "Libre Baskerville"; */
    font-size: 1rem;
    margin: 0 0 0.2rem 0;
}

#receipt-header {
    display: flex;
    flex-direction: column;
}

#receipt-date {
    padding: 0.5rem 0 0.5rem 0;
    display: flex;
    justify-content: space-between;
    /* font-family: "IBM MDA", serif; */
    font-weight: 400;
    font-size: 1rem;
}

#item {
    margin: 0 0 0.1rem 0;
    padding: 0.1rem 0 0.1rem 0;
    display: flex;
    text-align: left;
    flex-direction: column;
    font-size: 1.15rem;
}

#item-name {
    /* font-family: "IBM PS55", serif; */
}

#price {
    display: flex;
    justify-content: space-between;
}

#total {
    /* font-family: "IBM PS55", serif; */
    padding: 0.5rem 0 0.5rem 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.15rem;
    text-decoration: underline;
    font-weight: bold;
}

#total-price {
    font-size: 1.2rem;
}

#pay {
    font-size: 1.15rem;
}

#paid {
    /* font-family: "IBM PS55", serif; */
    display: flex;
    justify-content: space-between;
}

#change {
    display: flex;
    /* font-family: "IBM PS55", serif; */
    justify-content: space-between;
}

#receipt-footer {
    display: none;
    /* font-family: "Oswald"; */
    margin: 5rem 0 0 0; 
}

#sign {
    font-size: 2rem;
}

#sign-space {
    height: 35rem;
}